body {
    background: #fff;
}

.siteheader {
    background-color: #000;
    height: 68px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    border-bottom: 3px solid #fec325;
    z-index: 998;
}